.header {
    margin-bottom: 10px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;

    .title {
        text-align: center;
        margin-bottom: 0;
    }
}