.euler {
    margin-bottom: 20px;

    .result {
        margin-top: 25px;
    }

    .card {
        background-color: white;
        border-radius: 15px;
        box-sizing: border-box;
        padding: 15px;
    }
}